.App-footer {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: left;
    font-size: calc(10px + 2vmin);
    color: white;
    text-align: left;
    padding-left: 10%;
  }

  .App-link {
    color: #61dafb;
  }

  .App-logo {
    height: 30vmin;
    margin-right: auto;
  }